@font-face {
  font-family: BebasNeue;
  src: url('font/BebasNeueRegular.otf') format('opentype'); }

@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url('font/BebasNeueBold.otf') format('opentype'); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.u-clearfix:before, .u-clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.u-clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.u-clearfix {
  *zoom: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: BebasNeue;
  text-transform: uppercase; }
