@import '../../../bower_components/bourbon/dist/_bourbon';

@font-face {
    font-family: BebasNeue;
    src: url('/dist/fonts/BebasNeueRegular.otf') format('opentype');
}

@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url('/dist/fonts/BebasNeueBold.otf') format('opentype');
}

* { @include box-sizing(border-box); }

html {
    height: 100%;
}

body {
    height: 100%;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.u-clearfix {
    *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BebasNeue;
    font-weight: normal;
    text-transform: uppercase;
}

.c-logo {
    display: block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
}

.c-nav {
    background: black;
    color: white;
    font-family: BebasNeue;
    height: 50px;
    text-transform: uppercase;
    width: 100%;
}

    .c-nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .c-nav__list__item {
            float: left;
        }

$padding: 30px;

.c-screen {
    padding: $padding;
    padding-bottom: 100px;
    position: relative;

    i {
        bottom: 20px;
        cursor: pointer;
        left: calc(50% - 30px);
        position: absolute;
    }
}

.c-screen--short {
    min-height: initial !important;
}

.c-screen--about {
    $color: #ED2224;
    header {
        background: $color;
        color: white;
        margin: -$padding;
        margin-bottom: $padding;
        min-height: 140px;
        padding: $padding;

        h1 {
            font-size: 6em;
            float: left;
            margin: 0;
            margin-right: $padding;
        }

        p {
            margin: 5px;
        }
    }

    section {
        float: left;
        width: calc(50% - #{$padding / 2});

        &.c-left  { margin-right: $padding / 2; }
        &.c-right { margin-left:  $padding / 2; }
    }

        h3 {
            color: $color;
            font-size: 3em;
            margin: 10px 0;
        }

    aside {
        float: left;
        margin-top: $padding;

        $imageSize: 150px;
        .c-img--circle {
            border-radius: $imageSize / 2;
            float: left;
            height: $imageSize;
            margin-right: $padding;
            overflow: hidden;
            width: $imageSize;

            img {
                height: 100%;
            }
        }

        h5 {
            color: #434241;
            font-size: 2em;
            font-weight: bold;
            margin: 10px 0;

            span {
                color: $color;
                display: block;
                font-size: .75em;
                text-transform: capitalize;
            }
        }

        p {
            font-size: .85em;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .c-next { color: $color; }
}

.c-screen--sustainability {
    background: #434241;
    color: white;
}
