@import '../../bower_components/bourbon/dist/_bourbon';

@font-face {
    font-family: BebasNeue;
    src: url('/dist/fonts/BebasNeueRegular.otf') format('opentype');
}

@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url('/dist/fonts/BebasNeueBold.otf') format('opentype');
}

* { @include box-sizing(border-box); }

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.u-clearfix {
    *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BebasNeue;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    font-size: 80px;
    margin: 0;
}

h3 {
    font-size: 40px;
    margin: 0;
}

h5 {
    font-size: 30px;
}

.c-logo {
    display: block;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
}

.c-nav {
    background: black;
    color: white;
    font-family: BebasNeue;
    height: 50px;
    text-transform: uppercase;
    width: 100%;
}

    .c-nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .c-nav__list__item {
            float: left;
        }

$padding: 30px;

.c-screen {
    padding: $padding;
    padding-bottom: 100px;
    position: relative;

    i {
        bottom: 20px;
        cursor: pointer;
        left: calc(50% - 30px);
        position: absolute;
    }
}

.c-screen--short {
    min-height: initial !important;
}

.c-screen--about {
    $color: #ED2224;
    header {
        background: $color;
        color: white;
        margin: -$padding;
        margin-bottom: $padding;
        min-height: 140px;
        padding: $padding;

        h1 {
            font-size: 6em;
            float: left;
            margin: 0;
            margin-right: $padding;

            @media (max-width: 940px) {
                float: none;
            }
        }

        p {
            font-size: 16px;
            margin: 5px;
        }
    }

    section {
        float: left;
        width: calc(50% - #{$padding / 2});

        &.c-left  { margin-right: $padding / 2; }
        &.c-right { margin-left:  $padding / 2; }

        @media (max-width: 640px) {
            float: none;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-top: $padding;
            width: 100%;
        }
    }

        h3 {
            color: $color;
            margin: 10px 0;
        }

    aside {
        float: left;
        margin-top: $padding;

        $imageSize: 150px;
        .c-img--circle {
            border-radius: $imageSize / 2;
            float: left;
            height: $imageSize;
            margin-right: $padding;
            overflow: hidden;
            width: $imageSize;

            img {
                height: 100%;
            }
        }

        h5 {
            color: #434241;
            font-weight: bold;
            margin: 10px 0;

            span {
                color: $color;
                display: block;
                font-size: .75em;
                text-transform: capitalize;
            }
        }

        p {
            font-size: 12px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        section {
            @media (max-width: 750px) {
                clear: both;
                float: none;
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-top: $padding;
                min-height: $imageSize;
                width: 100%;
            }
        }
    }

    .c-next { color: $color; }
}

.c-screen--sustainability {
    background: #434241;
    color: white;

    h2 {
        margin: 0;
    }
}

.c-screen--story {
    $color: #F599B8;
    $sidebar-width: 30%;
    padding-left: calc(#{$sidebar-width} + #{$padding});

    .c-screen__sidebar {
        background: $color;
        bottom: 0;
        color: white;
        float: left;
        left: 0;
        padding: $padding;
        position: absolute;
        top: 0;
        width: $sidebar-width;
        min-width: 220px;

        h2 {
            margin: 0;
        }
    }

    @media (max-width: 750px) {
        padding-left: $padding;

        .c-screen__sidebar {
            position: initial;
            bottom: initial;
            float: none;
            left: initial;
            margin: -$padding;
            margin-bottom: $padding;
            width: calc(100% + #{$padding * 2});
        }
    }

    img {
        margin-bottom: $padding;
        width: 100%;
    }

    h3 {
        color: $color;
        margin: 0;

        span {
            color: #434241;
            display: block;
        }
    }

    section {
        float: left;
        width: calc(50% - #{$padding / 2});

        &:first-of-type {
            margin-right: $padding;
        }

        @media (max-width: 640px) {
            float: none;
            margin-right: 0 !important;
            width: 100%;

            img {
                margin-bottom: 0;
            }

            h3 {
                margin-top: $padding;
            }
        }
    }

    .c-next { color: $color; }
}

.c-screen--gift {
    background: #F26921;
    color: white;
}

.c-screen--support {
    $color: #F26921;

    figure {
        margin: 0;

        &.c-images--desktop {
            float: left;
            margin-right: $padding;
            margin-bottom: $padding;
            width: 40%;
        }

        &.c-images--mobile {
            display: none;
            width: 100%;
        }

        @media (max-width: 640px) {
            &.c-images--desktop { display: none; }
            &.c-images--mobile  { display: block; }
        }

        img {
            margin-bottom: $padding;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h2 {
        color: $color;

        span {
            color: #434241;
            display: block;
        }
    }

    .c-quote {
        font-style: italic;
    }

    h3 {
        color: $color;
        margin-top: $padding;
    }

    .c-next { color: $color; }
}

.c-screen--donate {
    background: #00A4DF;
    color: white;
}

.c-screen--contact {
    background: black;
    color: white;
}
