doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="IE=edge", http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1", name="viewport")
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='favicon.ico', type='image/x-icon')

        title Print the Love

        // build:css PrintTheLove.min.css
        link(rel="stylesheet", href="bower_components/normalize.css/normalize.css")
        link(rel="stylesheet", href="bower_components/components-font-awesome/css/font-awesome.css")
        link(rel="stylesheet", href="PrintTheLove.css")
        // endbuild

    body.u-clearfix

        //-nav.c-nav
            //-ul.c-nav__list
                //-li.c-nav__list__item(data-target='title') Home
                //-li.c-nav__list__item(data-target='about') Print the Love
                //-li.c-nav__list__item(data-target='story') The Story
                //-li.c-nav__list__item(data-target='gift') A Gift
                //-li.c-nav__list__item(data-target='support') Your Support
                //-li.c-nav__list__item(data-target='donate') Donate
                //-li.c-nav__list__item(data-target='contact') Contact

        article.c-screen.u-clearfix.c-screen--title
            img.c-logo(src='img/PrintTheLove.gif')
            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--about
            header
                h1 Print the Love
                p Love Polaroids is about more than just giving away a photograph. It is about hope, love, and encouragement. It is about uplifting others, helping them see the beauty in themselves regardless of their circumstance.

            section.c-left
                h3 The Impact
                p The impact of Love Polaroids is felt by across people groups, ages, races, cultures and languages. To be able to print on the spot within seconds with Polaroid products, it opens up the doors to serve those who normally wouldn’t be able to receive such a gift. In order to maximize impact, Love Polaroids hosts expeditions for those who want to particpate in the cause first hand.
                p “I wish I could bottle up the joy that Love Polaroids gives to everyone who received or gave a photo for you to feel it too. It is like joy exploding! It stays with you forever and I wish everyone on earth could feel it.” - Ceallaigh Anderson

            section.c-right
                h3 The Vision
                p It is Love Polaroids vision to see every person on earth feel loved, valued, and celebrated even amidst life’s most difficult trials. That all would have access to photographs of family, friends, and life’s most cherished memories and milestones.

            section.c-right
                h3 The Mission
                p To celebrate the value and dignity of individuals in under-resourced communities through the gift of a Love Polaroid.

            aside.u-clearfix
                section.c-left
                    div.c-img--circle
                        img(src='img/about_children.jpg')
                    h5 Children
                        span Served
                    p Children in many under-resourced communities are marginalized and often not celebrated for who they are. We want to change that! Self-worth is important for emotional and social development. Very few children get school photos taken or have any record of their childhood. As well, if a child were to be lost or taken, there would be a photograph to help find him or her.
                section.c-right
                    div.c-img--circle
                        img(src='img/about_hospitalized.jpg')
                    h5 Hospitalized
                        span Encouraged
                    p New mothers in maternity wards around the globe rarely have access to photographs of their newborns and this lifechanging event. Others who are losing a loved one, cherish the last moments they have together. Even those in the hospital for more minor issues feel the love of the gift, a break in the day, and warmth of the a smile. All feel encouraged tha they are not forgotten in a difficult time.
                section.c-left
                    div.c-img--circle
                        img(src='img/about_relief.jpg')
                    h5 Relief Efforts
                        span Supported
                    p Many Individuals who have been through natural disasters or war have lost everything, including personal belonging and family treasures. Love Polaroids is able to help them rebuild emotionally by giving them new keepsakes.
                section.c-right
                    div.c-img--circle
                        img(src='img/about_families.jpg')
                    h5 Families
                        span Advocated
                    p Family photos have been treasured as long as they have been around. Children grow up fast, family members pass away. Life move quickly and celebrating the ones we love is important to family life.

            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--short.c-screeen--sustainability
            h2 Sustainability
            p As Love Polaroids looks ahead to continue to lead this effort in the future as an organization, we believe not only does Love Polaroids stand on its own as a cause to be supported but the partnership possibilities with humanitarian efforts around the world are endless as well. From US based organizations to local agencies on the ground in each county, partnership and need is ever-present.
            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--story
            aside.c-screen__sidebar
                h2 The Story
                p As a nonprofit consultant, in the summer of 2013, Ceallaigh Anderson had the privilege of traveling to Rwanda as the logistics coordinator for a leadership speaking team. 
                p While there she was able to travel to small towns and villages, schools, hospitals, churches, a prison, and engage with the rich and the poor, from politicians to the homeless. And one thing was true across the board. Everyone loved to talk with her and have their picture taken. But of course it was the eagerness of the children that had the most impact on her. As soon as she took a picture, each child always wanted to look at the back of her digital camera to see themselves or their family and friends. She desperately wanted to be able to print one out and give it to them! 
                p Thus Love Polaroids was born! Polaroids always spread so much love and smiles. She vowed to be back the following year, ready to print the love.
            img(src='img/story.jpg')

            h4 10 Days in the Land 1000 Hills.<br>1 Encouraging Photographer.<br>1000 Photo Gifts.<br>Life Long Treasures of Love.
            p Ceallaigh travelled back to Rwanda the following year in 2014, during the 20th anniversary of the genocide with camera in tow as she had promised to herself. She raised funds through crowdfunding and brought two Polaroid cameras (Z340 and Z2300) and film. She was able to give away 1,000 Polaroid gifts to people who most likely have never had a printed photo of themselves - a treasure that they will also most likely keep for the rest of their lives. It was a simple small gift to say you matter to each person, child, new mother, or family she encountered. The reactions of the people were incredible! The project was a complete success!
            p None of this would have been possible without you, Polaroid! Thank you!

            h3 Advancing
            p What an amazing gift Ceallaigh got back to be able to witness her vision come alive through the smiles and joy of the Rwandan people as she handed out Polaroids. Many people came forward, even strangers, to support the project to make it happen with their donations and always with such excitement. She wanted to see the vision and passion continue beyond Rwanda. So she began to seek a team of people around her who were passionate about seeing the project grow into an organization where many more people groups can benefit and so others can travel to feel the infectious joy of giving away a Love Polaroids. When thinking through possible funders for continuing this effort it was an obvious and natural choice to approach the Leadership at Polaroid! With both of us great things will happen!

            h3 About the Founder
                span - Ceallaigh Anderson
            p Ceallaigh (pronounced Kelly) has worked in nonprofits for over 15 years in a wide variety of positions and sectors including fundraising, programming, event planning, administration, and now serves as a consultant to many nonprofit organizations in the Twin Cities. As well, she travels often overseas leading teams in various leadership activities. In addition to her consulting, Ceallaigh is a Higher Education advisor and administrator for a world-renowned doctoral leadershi program. With a background and education in Arts Administration (MA) and Experiential/Adventure Education and Art Therapy (BA) Ceallaigh is a perfect leader for Love Polaroids. Ceallaigh is also passionate about running, the arts, the outdoors, fighting for the oppressed, orphan care, organic farming, and is the mother to two future philanthropists.

            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--short.c-screeen--gift
            h2 A Gift
            p A gift so personal is seldom given in humanitarian efforts. We all know how much we love to take and get photos of our families, children, and friends. Even in this digital age in the U.S. where we have access to images anytime, we appreciate and cherish the photographs we get to hold in our hands. Imagine what it would be like to get a picture if you had very few or none. The influence on each person and often their family is significant.
            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screeen--support
            h2 Your
                span Support
            p.c-quote All of this could have never been possible with out Polaroid! Will you partner with us? Your support and partnership has the potential to impact the global community for good on an immense scale as well as have profound global PR and social outcomes

            h3 Working together we can do more
            div.c-columns
                p Love Polaroids brought encouragement and shouts of love to all the people Ceallaigh came across. And we would love to bring this across the globe with Polaroid’s help! We recognize the great needs for water, food, health, and shelter that exists for many developing countries today and those projects are worthy of our funds as well. We also believe we are called to take care of our global brothers and sisters in other ways and that all of us humans, regardless of our circumstance, all fundamentally need love and encouragement and to feel valued and celebrated by our families, communities, and even strangers. What better way to do this than the gift of a Polaroid.
                p We hope you will examine this following partnership plan with great consideration. Your donation dollar would go extremely far. With no administration cost at all, Love Polaroids is able to put all support right into the action of giving away Polaroids to people across the globe. We also believe this can be the start of a great collaboration for years to come

            h3 The Need
            p Our greatest need to be able to continue Love Polaroids is resources - funding for travel costs and Polaroid equipment. To stay in line with our mission to celebrate all people groups and serve those in under-resourced communities, we strategically chose travel locations in 3 different continents - South America, Asia, and Africa. All are on the list of least developed and most impoverished in the world. Strategically we will travel to remote areas where electricity and especially photographs are scarce.

            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--short.c-screeen--donate
            h2 Donate
            p We are in the process of getting our 501(c)3 status to be able to accept tax-deductible donations. We will have a link to donate soon! As well, all profits from sales of Ceallaigh Anderson's Rodan + Fields skin care business goes to Print the Love. Purchases are just made online and shipped directly to you: <a href="https://canderson11.myrandf.com/" target="_blank">canderson11.myrandf.com</a>
            i.fa.fa-4x.fa-arrow-down.c-next

        article.c-screen.u-clearfix.c-screen--short.c-screeen--contact
            h2 Contact
            a(href='mailto:ceallaigh@printthelove.org', target='_blank') ceallaigh@printthelove.org

        // build:js PrintTheLove.min.js
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="src/PrintTheLove.js")
        // endbuild
        script.
            //- Google Analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-63486811-1', 'auto');
            ga('send', 'pageview');
